// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for NXP LS1028A RDB Board.
 *
 * Copyright 2018-2019 NXP
 *
 * Harninder Rai <harninder.rai@nxp.com>
 *
 */

/dts-v1/;
#include "fsl-ls1028a.dtsi"

/ {
	model = "LS1028A RDB Board";
	compatible = "fsl,ls1028a-rdb", "fsl,ls1028a";

	aliases {
		crypto = &crypto;
		serial0 = &duart0;
		serial1 = &duart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x1 0x0000000>;
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	sb_3v3: regulator-sb3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3v3_vbus";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

/*	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai4>;
			frame-master;
			bitclock-master;
		};

		simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
			frame-master;
			bitclock-master;
			system-clock-frequency = <25000000>;
		};
	};*/
};

&esdhc {
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
	status = "okay";
};

&esdhc1 {
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	status = "okay";
};

&ftm_alarm1 {
	status = "okay";
};

&usb1 {
	dr_mode = "otg";
};

&i2c0 {
	status = "okay";
	i2c-mux@70 {
		compatible = "nxp,pca9548";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			/* QSFP28 #1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c@1 {
			/* QSFP28 #2 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		i2c@2 {
			/* QSFP28 #3 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c@3 {
			/* QSFP28 #4 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		i2c@4 {
			/* QSFP28 #5 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		i2c@5 {
			/* QSFP28 #6 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		i2c@6 {
			/* QSFP28 #7 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		i2c@7 {
			/* QSFP28 #8 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};

	i2c-mux@71 {
		compatible = "nxp,pca9548";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-mux-idle-disconnect;

		i2c@0 {
			/* QSFP28 #1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c@1 {
			/* QSFP28 #2 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		i2c@2 {
			/* QSFP28 #3 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c@3 {
			/* QSFP28 #4 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		i2c@4 {
			/* QSFP28 #5 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		i2c@5 {
			/* QSFP28 #6 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		i2c@6 {
			/* QSFP28 #7 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		i2c@7 {
			/* QSFP28 #8 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};


	i2c-mux@73 {
                compatible = "nxp,pca9543";
                reg = <0x73>;
                #address-cells = <1>;
                #size-cells = <0>;
                i2c-mux-idle-disconnect;

                i2c@0 {
                        /* SFP #1 */
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                };

                i2c@1 {
                        /* SFP #2 */
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                };
	};

	tmp75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};

	tmp75@49 {
		compatible = "ti,tmp75";
		reg = <0x49>;
	};
	
	tmp75@4a {
		compatible = "ti,tmp75";
		reg = <0x4a>;
	};
	
	temp-sensor@18 {
 		compatible = "national,lm95245";
		reg = <0x18>;
	};

	temp-sensor@29 {
 		compatible = "national,lm95245";
		reg = <0x29>;
	};
	temp-sensor@4c {
		compatible = "nxp,sa56004";
		reg = <0x4c>;
		vcc-supply = <&sb_3v3>;
	};
	eeprom@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
		/*address-bits = <8>;
		page-size = <8>;
		size = <256>;
		read-only;*/
	};
};

&i2c1 {
        status = "okay";
};

&can0 {
	status = "okay";

	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&fspi {
	status = "okay";
	mt35xu02g: flash@0 {
		compatible = "spansion,m25p80";
		#address-cells = <1>;
		#size-cells = <1>;
		m25p,fast-read;
		spi-max-frequency = <20000000>;
		reg = <0>;
		/* The following setting enables 1-1-8 (CMD-ADDR-DATA) mode */
		spi-rx-bus-width = <8>; /* 8 SPI Rx lines */
		spi-tx-bus-width = <1>; /* 1 SPI Tx line */
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&pcie1	{
	status = "okay";
};

&pcie2	{
	status = "okay";
};

&enetc_port0 {
	//phy-handle = <&sgmii_phy0>;
	//phy-connection-type = "sgmii";
	status = "disabled";
	//mdio {
	//	#address-cells = <1>;
	//	#size-cells = <0>;
	//	sgmii_phy0: ethernet-phy@2 {
	//		reg = <0x2>;
	//	};
	//};
	//status = "disabled";
};

&enetc_port1 {
	status = "disabled";
};

&enetc_mdio_pf3 {
	cfp2_phy1: ethernet-phy@0 {
                reg = <0x0>;
        };

	cfp2_phy2: ethernet-phy@1 {
                reg = <0x1>;
        };

	cfp2_phy3: ethernet-phy@2 {
                reg = <0x2>;
        };

	cfp2_phy4: ethernet-phy@3 {
                reg = <0x3>;
        };

	qsgmii_phy1: ethernet-phy@4 {
                reg = <0x4>;
        };

        qsgmii_phy2: ethernet-phy@5 {
                reg = <0x5>;
        };

        qsgmii_phy3: ethernet-phy@6 {
                reg = <0x6>;
        };

        qsgmii_phy4: ethernet-phy@7 {
                reg = <0x7>;
        };
};


/* l2switch ports */

&mscc_felix_ports {
	port@0 {
		status = "okay";
		phy-handle = <&qsgmii_phy1>;
		phy-mode = "qsgmii";
		managed = "in-band-status";
	};

	port@1 {
		status = "okay";
		phy-handle = <&qsgmii_phy2>;
		phy-mode = "qsgmii";
		managed = "in-band-status";
	};

	port@2 {
		status = "okay";
		phy-handle = <&qsgmii_phy3>;
		phy-mode = "qsgmii";
		managed = "in-band-status";
	};

	port@3 {
		status = "okay";
		phy-handle = <&qsgmii_phy4>;
		phy-mode = "qsgmii";
		managed = "in-band-status";
	};
};

&pwm0 {
	status = "okay";
};

&sai4 {
	status = "okay";
};

&sata {
	status = "okay";
};

&hdptx0 {
	lane-mapping = <0x4e>;
	status = "okay";
};
